body{
  background-color: #212529!important;
  color: #fff;
}

.textoprincipal{
  text-align: center!important;
  padding-top:6.2rem!important;
}

img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: .2rem;
  margin-right: .2rem;
  margin-bottom: .2rem;
}

.subtextoprincipal{
  padding-bottom: 9.5rem!important;
  margin-left: auto;
  margin-right: auto;
  text-align: center!important;
}

.navbar-toggler:focus{
  box-shadow: none;
  padding: 0;
}

.navbar-toggler{
  border: 1px none transparent;
}

p{
  margin-top: 1rem;
} 

.navbar-brand{
  margin-right:auto;
  margin-left: 0.5rem;
} 

.buttomucsal:hover, .buttomucsal:focus , .buttommario:hover , .buttommario:focus{
  color: #595959;
  text-shadow: none;
}

.buttomucsal, .buttommario{
  background-color: #fff!important;
  font-weight: 700!important;
  border-color: #fff!important;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius:.3rem;
}

a{
  color: #595959;
  text-decoration: none;
}

.rodape{
  color: rgba(255,255,255,.5)!important;
  margin-top:15.5rem!important;
  text-align: center;
}

.textautor:hover, .textautor:focus{
  color: #595959;
  text-shadow: none;
}

.textautor{
  text-align: center!important;
  color: #fff;
} 

.navbar navbar-dark bg-dark{
  padding-bottom: 3rem;
} 

h1{
  margin-top: 7.5rem;
} 

img.aboutmeimg{
  border-radius: 25%;
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.aboutmetexto{
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center!important;
} 
