body{
  background-color: #212529!important;
  color: #fff;
}

.textoprincipal{
  text-align: center!important;
  padding-top:3rem!important;
}

img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.subtextoprincipal{
  padding-bottom: 3rem!important;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center!important;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-toggler{
  border: 1px none transparent;
}

p{
  margin-top: 1rem;
} 

.navbar-brand{
  margin-right:auto;
  margin-left: 0.5rem;
} 
