body{
  background-color: #212529!important;
  color: #fff;
}

.px-3{
  padding-right: 15rem;
  padding-left: 15rem;
  padding-top: 10rem;
  padding-botton: 5rem;
  text-align: center!important;
}

img{
  border-radius: 50%;
}
